.places {
    display: grid;
    justify-content: center;
    gap: 80px;
    margin: 0px auto 0px auto;
    padding: 0;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        gap: 73px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 320px;
        gap: 50px;
    }
}
