.place__image {
    max-width: 460px;
    max-height: 460px;
    float: left;
    margin: 48px 40px 0px 0px;
}

@media screen and (max-width: 1024px) {
    .place__image  {
        max-width: 440px;
        max-height: 440px;
        margin: 48px 32px 0px 0px; 
    }
}

@media screen and (max-width: 1023px) {
    .place__image  {
        max-width: 340px;
        max-height: 340px;
        margin: 48px 28px 0px 0px; 
    }
}

@media screen and (max-width: 767px) {
    .place__image  {
        max-width: 320px;
        max-height: 320px;
        margin: 32px auto 32px auto; 
    }
}
