.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) { 
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) { 
    .lead {
        max-width:  767px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 320px;
    }
}

