.lead {
    width: 928px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media screen and (max-width: 1024px) { 
    .lead {
        width: 928px;
    }
}

@media screen and (max-width: 1023px) { 
    .lead {
        width:  767px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        width: 767px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        width: 316px;
    }
}

@media screen and (max-width: 319px) {
    .lead {
        width: 316px;
    }
}
