.content__cover {
    margin: 0px auto 92px auto;
    padding: 0px 0px 0px 0px;
}

@media screen and (max-width: 768px) {
    .content__cover {
        margin: 0px auto 88px auto;
    }
}

@media screen and (max-width: 320px) {
    .content__cover {
        margin: 0px auto 64px auto;
    }
}