.content__places {
    margin: 0px auto 92px auto;
    padding: 0px;
}

@media screen and (max-width: 768px) {
    .content__places {
        margin: 0px auto 90px auto;
    }
}

@media screen and (max-width: 320px) {
    .content__places {
        margin: 0px auto 66px auto;
    }
}
