.place__website_url-heading {
    font-family: 'Inter', 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0px 0px 12px 0px;
    padding: 0px 0px 0px 0px;
}

@media screen and (max-width: 319px) {
    .place__website_url-heading  {
        margin: 32px 0px 12px 0px;
    }
}