.page__places {
    margin: 0px auto 92px auto;
}

@media screen and (max-width: 767px) {
    .page__places {
        margin: 0px auto 90px auto;
    }
}

@media screen and (max-width: 319px) {
    .page__places {
        margin: 0px auto 66px auto;
    }
}
